USE [master]
GO
/****** Object:  Database [MirayEticaretDb]    Script Date: 26.05.2022 16:57:11 ******/
CREATE DATABASE [MirayEticaretDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MirayEticaretDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MirayEticaretDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MirayEticaretDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MirayEticaretDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MirayEticaretDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MirayEticaretDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](10) NULL,
	[Sifre] [char](1) NULL,
	[Yetki] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[Cariid] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](13) NULL,
	[CariMail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
	[CariSifre] [varchar](20) NULL,
	[CariAdres] [varchar](200) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[Departmanid] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[urunad] [varchar](30) NULL,
	[urunbilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Faturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[Faturaid] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [char](5) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[Giderid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[Giderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](300) NULL,
	[TakipKodu] [varchar](10) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](25) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](10) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesajlars]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesajlars](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[Gönderen] [nvarchar](50) NULL,
	[Alıcı] [nvarchar](50) NULL,
	[Konu] [nvarchar](50) NULL,
	[icerik] [nvarchar](2000) NULL,
	[Tarih] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_dbo.mesajlars] PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[Personelid] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](250) NULL,
	[Departmanid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[Satisid] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[Cariid] [int] NOT NULL,
	[Personelid] [int] NOT NULL,
	[Urunid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[Satisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[Urunid] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[Kategoriid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yapilacaks]    Script Date: 26.05.2022 16:57:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yapilacaks](
	[Yapilacakid] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yapilacaks] PRIMARY KEY CLUSTERED 
(
	[Yapilacakid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (1, N'miray', N'1', N'A')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (2, N'can', N'2', N'B')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (3, N'selin', N'3', N'A')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre], [CariAdres]) VALUES (1, N'Ayşe', N'Kaya', N'Düzce', N'ayse@gmail.com', 1, N'123', N'Osmaniye Mah
Osmaniye mah doğancılar köyü evrim sokak no:3 KYK kız öğrenci yurdu Akçakoca
')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre], [CariAdres]) VALUES (2, N'Salih', N'Beyaz', N'Trabzon', N'beyaz@gmail.com', 1, N'1122', N'Küçüksu Mah
Küçüksu Mahallesi Millet Caddesi Adaş Sokak')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre], [CariAdres]) VALUES (3, N'Barış', N'Sarı', N'Düzce', N'baris@gmail.com', 1, N'454', N'Osmaniye Mah
Osmaniye mah doğancılar köyü evrim sokak no:3 Akçakoca
')
SET IDENTITY_INSERT [dbo].[Carilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (1, N'Satış Temsilcisi', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (2, N'Muhasebe', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (3, N'Satın Alma', 1)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
GO
SET IDENTITY_INSERT [dbo].[Detays] ON 

SET IDENTITY_INSERT [dbo].[Detays] OFF
GO
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (1, N'Buzdolabı', 1, CAST(15500.00 AS Decimal(18, 2)), CAST(15500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (2, N'Fırın', 1, CAST(1250.00 AS Decimal(18, 2)), CAST(1250.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (3, N'Su Isıtıcı (Kettle)', 2, CAST(425.00 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (1, N'A', N'100000', CAST(N'2022-05-17T00:00:00.000' AS DateTime), N'Kadiköy', N'13:35', N'Mesut Yücedağ', N'Ahmet Yıldız', CAST(37600.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (2, N'A', N'100101', CAST(N'2022-05-17T00:00:00.000' AS DateTime), N'Beşiktaş', N'14:30', N'Mesut Yücedağ', N'Mehmet Aydın', CAST(13850.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'A', N'100102', CAST(N'2022-05-17T00:00:00.000' AS DateTime), N'Şişli', N'14.55', N'Mesut Yücedağ', N'Hasan Kaya', CAST(14200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (1, N'1 Adet Buzdolabı ve 1 Adet Çamaşır Makinesi alındı', N'ABC34589NK', N'Ali Çınar', N'Eylül Yıldız', CAST(N'2022-05-24T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (2, N'test', N'160A21B32B', N'Ahmet Can Elmastaş', N'Aylin Şahin', CAST(N'2022-05-30T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (3, N'deneme
', N'902A30H71E', N'Ahmet Can Elmastaş', N'Ayşe Avcı', CAST(N'2022-05-24T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (1, N'ABC34589NK', N'Müşteri satışı tamamlandı.', CAST(N'2022-05-23T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (2, N'ABC34589NK', N'ürün kargoya verildi', CAST(N'2022-05-23T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (3, N'ABC34589NK', N'Ürün Ankaradan çıktı', CAST(N'2022-05-24T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'Beyaz Eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'Telefon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'Küçük Ev Aletleri')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[mesajlars] ON 

INSERT [dbo].[mesajlars] ([MesajID], [Gönderen], [Alıcı], [Konu], [icerik], [Tarih]) VALUES (1, N'rumeysa@gmail.com', N'baris@gmail.com', N'Teşekkür', N'merhaba Barış tavsiye ettiğin bilgisayarı aldım gerçekten çok güzel çıktı teşekkür ederim', CAST(N'2022-05-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[mesajlars] ([MesajID], [Gönderen], [Alıcı], [Konu], [icerik], [Tarih]) VALUES (2, N'aslan@gmail.com', N'baris@gmail.com', N'Tavsiye', N'Selam Barış su ısıtıcıyı adın mı eğer almadıysan indirime girmiş, tavsiye ederim.', CAST(N'2022-05-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[mesajlars] ([MesajID], [Gönderen], [Alıcı], [Konu], [icerik], [Tarih]) VALUES (3, N'mustafa@gmail.com', N'Barış Sarı', N'Ürün Takibi', N'Merhaba Barış bizim buzdolabı arıza verdi eğer firmaya gidersen öğrenir misin takip kodu 12234 ', CAST(N'2022-05-23T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[mesajlars] OFF
GO
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (1, N'Nurcan', N'Aykaç', N'/Image/images.jpg.jpg', 1)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (2, N'Ahmet Can', N'Elmastaş', N'https://img.freepik.com/free-photo/senior-man-white-sweater-eyeglasses_273609-42003.jpg?w=2000', 1)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (3, N'Emir', N'Bayram', N'https://img.freepik.com/free-photo/portrait-masculine-man-wearing-business-suit-posing-with-serious-look-keeping-arms-folded-isolated-gray-wall_171337-32727.jpg?w=2000', 2)
SET IDENTITY_INSERT [dbo].[Personels] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (1, CAST(N'2022-05-09T00:00:00.000' AS DateTime), 1, CAST(13000.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), 3, 1, 7)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (2, CAST(N'2022-05-09T00:00:00.000' AS DateTime), 1, CAST(1250.00 AS Decimal(18, 2)), CAST(1250.00 AS Decimal(18, 2)), 1, 3, 4)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (3, CAST(N'2022-05-09T00:00:00.000' AS DateTime), 2, CAST(425.00 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)), 2, 3, 8)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (1, N'Buzdolabı', N'Arçelik', 104, CAST(15000.00 AS Decimal(18, 2)), CAST(15500.00 AS Decimal(18, 2)), 1, N'https://resmim.net/cdn/2022/05/20/k0ek8.webp', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (2, N'Çamaşır Makinesi', N'Bosch', 100, CAST(12200.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)), 1, N'https://cdn.cimri.io/image/1000x1000/boschwatstrasnfkgykamadeviramarmakinesibeyaz_175990534.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (3, N'Laptop', N'Toshiba', 48, CAST(7500.00 AS Decimal(18, 2)), CAST(16000.00 AS Decimal(18, 2)), 1, N'https://cdn.cimri.io/image/1000x1000/boschwatstrasnfkgykamadeviramarmakinesibeyaz_175990534.jpg', 4)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
SET IDENTITY_INSERT [dbo].[Yapilacaks] ON 

INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (1, N'Ahmet Bey ile Toplantımiz var', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (2, N'Selin Hanım ile görüşme saat 16:00', 0)
SET IDENTITY_INSERT [dbo].[Yapilacaks] OFF
GO
/****** Object:  Index [IX_Faturaid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Faturaid] ON [dbo].[FaturaKalems]
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departmanid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Departmanid] ON [dbo].[Personels]
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cariid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Cariid] ON [dbo].[SatisHarekets]
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personelid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Personelid] ON [dbo].[SatisHarekets]
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Urunid] ON [dbo].[SatisHarekets]
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 26.05.2022 16:57:12 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Uruns]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carilers] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Departmen] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Faturalars] ADD  CONSTRAINT [DF__Faturalar__Topla__793DFFAF]  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid] FOREIGN KEY([Faturaid])
REFERENCES [dbo].[Faturalars] ([Faturaid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid] FOREIGN KEY([Departmanid])
REFERENCES [dbo].[Departmen] ([Departmanid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid] FOREIGN KEY([Cariid])
REFERENCES [dbo].[Carilers] ([Cariid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid] FOREIGN KEY([Personelid])
REFERENCES [dbo].[Personels] ([Personelid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid] FOREIGN KEY([Urunid])
REFERENCES [dbo].[Uruns] ([Urunid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid]
GO
USE [master]
GO
